* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  text-align: center;
  padding: 5px;
}
h4 {
  text-align: center;
  color: white;
}
.divs {
  padding: 15px;
  background-color: rgb(243, 6, 164);
  border-radius: 15px;
}
.div-1,
.div-2 {
  background-color: rgb(136, 8, 83);
  padding: 15px;
}
.div-2in,
.div-1in {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#in-1,
#in-21,
#in-22,
#in-23 {
  width: 250px;
  background-color: transparent;
  border-style: none;
  border: 3px solid rgb(243, 6, 164);
  border-radius: 5px;
  height: 30px;
  color: white;
  text-align: center;
}
#in-1::placeholder,
#in-21::placeholder,
#in-22::placeholder,
#in-23::placeholder {
  color: pink;
}
.btn-1,
.btn-2 {
  color: black;
  border-style: none;
  background-color: rgb(255, 1, 234);
  height: 25px;
}

.css {
  height: 30px;
  background-color: white;
  color: black;
  text-align: center;
  font-weight: bold;
  border: 3px solid rgb(255, 1, 234);
}
