* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  background-color: rgb(4, 4, 110);
  padding: 25px;
  border-radius: 15px;
}
.div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
#select {
  width: 250px;
  height: 30px;
}
option {
  color: white;
  background-color: darkblue;
  font-weight: bold;
}
.in {
  height: 30px;
  width: 250px;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.btn {
  height: 30px;
  width: 250px;
  font-weight: bold;
  font-size: 15px;
  background-color: rgb(255, 230, 0);
}
.btndiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.css {
  height: 30px;
  width: 250px;
  text-align: center;
  color: black;
}
.h3 {
  color: white;
}
