@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: roboto, sans-serif;
}
html {
  scroll-behavior: smooth;
}
summary {
  cursor: pointer;
}
.section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: 10s infinite ease change;
}
@keyframes change {
  0% {
    background-image: linear-gradient(rgb(3, 3, 83), rgb(141, 9, 241));
  }
  25% {
    background-image: linear-gradient(rgb(77, 4, 76), rgb(3, 3, 83));
  }
  50% {
    background-image: linear-gradient(rgb(225, 8, 149), rgb(3, 3, 83));
  }
  75% {
    background-image: linear-gradient(rgb(26, 2, 53), rgb(209, 14, 223));
  }
  100% {
    background-image: linear-gradient(rgb(119, 87, 231), rgb(3, 3, 83));
  }
}
.section-in {
  border-radius: 25px;

  background-color: white;
  height: 600px;
  width: 80vw;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.911);
}
.iconimg {
  height: 50px;
}
.icimgflex {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 3.2%;
}
.logo-1 {
  height: 55px;
}
.logo-1:hover,
.logo-2:hover,
.logo-3:hover,
.logo-4:hover,
.logo-5:hover {
}
.logo-2 {
  height: 50px;
}
.logo-3 {
  height: 60px;
}
.logo-4 {
  height: 45px;
}
.logo-5 {
  height: 55px;
}
.srg {
  height: 50px;
  width: 120px;
  float: left;

  margin-top: 20px;
  margin-left: 37px;
  display: flex;
}

header {
  display: grid;

  height: 80px;
  justify-content: end;
}
li {
  list-style: none;
}
li a {
  color: black;
  font-weight: bold;

  text-decoration: none;
}

ul {
  display: flex;
  margin-top: 30px;
  gap: 25px;

  margin-right: 30px;
}
.content {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  align-items: center;
}
.name {
  color: rgb(6, 6, 103);

  font-size: 25px;
  max-width: 400px;
  text-align: justify;
  font-weight: bold;
}
.namee {
  color: rgb(0, 115, 255);

  font-size: 55px;
}
.span-dev {
  display: inline-block;
  height: 50px;

  overflow: hidden;
}
.span-flex {
  display: flex;
  align-items: center;
  gap: 25px;
}
.developer {
  display: block;
  font-weight: bold;
  font-family: "Rowdies", sans-serif;
  color: darkblue;

  font-size: 50px;
  animation: rotateWords 6s infinite;
}
@keyframes rotateWords {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-200%);
  }

  100% {
    transform: translateY(-0%);
  }
}
.web {
  background-color: yellow;
  color: darkred;
}
.web-2 {
  color: darkred;
  font-weight: bold;
}
ul a:hover {
  color: blue;
  border-bottom: 3px solid blue;
}
.nameee {
  color: #9c079f;

  font-size: 15;
  max-width: 400px;
  margin-top: 15px;

  font-weight: bold;
}
.text {
  animation: scrollanimate-2 2s ease;

  animation-range: enter 0% cover 40%;
}
@keyframes scrollanimate-2 {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(15px);
  }
}
.mainimg {
  height: 400px;
  box-shadow: 15px 5px 15px rgba(0, 0, 0, 0.744);
  width: 400px;
  margin-top: 50px;

  border-radius: 185px;
  animation: scrollanimate 1s ease;

  animation-range: enter 0% cover 40%;
}
@keyframes scrollanimate {
  from {
    opacity: 1;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.section-3 {
  margin-top: 50px;
  padding-top: 25px;
  padding-bottom: 100px;
  margin-bottom: -90px;
  background-color: #051c36;
}

.section-2 {
  margin-top: 50px;
  background-color: white;
}
.divsmaster {
  display: flex;
  width: 100vw;
  justify-content: center;
}
.divsmaster-2 {
  display: flex;

  justify-content: space-around;
  width: 100vw;
}
.divs {
  display: flex;
  gap: 35px;
  margin-top: 50px;
}
.profile {
  color: #d6cfe1;
  font-size: 20px;
  margin-top: 30px;
}

.div-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  height: 300px;
  padding-bottom: 15px;
  width: 300px;
  border-radius: 25px;
  border: 3px solid cyan;
  box-shadow: 0px 0px 15px cyan, 0px 0px 15px cyan inset;
  background-color: transparent;
}

.divs-2 {
  display: flex;
  flex-direction: column;

  gap: 25px;

  margin-top: 50px;
}

.firstimg-1 {
  display: flex;
  gap: 25px;
  justify-content: center;
}
.firstimg-2 {
  display: flex;
  gap: 25px;
  justify-content: center;
}
.div-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;

  width: 300px;
  border-radius: 25px;
  border: 15px solid #08d7aa;
  gap: 25px;
  background-color: #051c36;
  animation: scroll 1s ease-in-out;
  animation-timeline: view();
}
@keyframes scroll {
  from {
    opacity: 0.8;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}
.Explore-2 {
  color: rgb(3, 3, 94);
  font-weight: bold;

  font-size: 45px;
  text-align: center;
  padding-top: 50px;
}
.Explore {
  color: white;
  font-weight: bold;

  text-shadow: 1px 1px 1px blue;
  font-size: 35px;
  text-align: center;
}
.div-1:hover {
}
.div-2:hover {
}

.profilep {
  width: 200px;

  font-size: 55px;

  text-align: center;
  color: black;
  font-weight: bold;
}
.add {
  display: flex;

  justify-content: center;
  color: black;
  align-items: center;
  background-color: #08d7aa;
  height: 150px;
}
.moreview {
  border: 3px solid cyan;
  box-shadow: 0px 0px 15px cyan, 0px 0px 15px cyan inset;
  color: cyan;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 25px;
}
.moreview:hover {
  background-color: rgb(0, 247, 255);
  color: darkblue;
  border: 2px solid darkblue;
}
.icon {
  display: flex;
  gap: 25px;

  justify-content: end;
  margin-right: 30px;
  margin-top: 15px;
  font-size: 25px;
}
.color {
  color: cyan;
  font-size: 25px;
  font-weight: bold;
}

.about {
  height: 620px;
  border: 15px solid #08d7aa;
  width: 450px;
  border-radius: 25px;
  margin-top: 50px;
  margin-right: 50px;
  animation: scroll 5s ease;
  animation-timeline: view();
  animation-range: enter 0% cover 40%;
}
hr {
  margin-top: 90px;
  margin-bottom: -50px;
  color: darkblue;
  height: 1px;
  background-color: darkblue;
}

h3 {
  color: white;
}
h6 {
  color: rgb(7, 223, 252);
}
.srg {
  color: cyan;
}

.imgic-1 {
  height: 100px;
  filter: invert(1);
  width: 100px;
  color: white;
}
.footer-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
footer {
  background-color: rgba(0, 0, 0, 0.927);
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.in-2 {
  color: cyan;
}
.section-4 {
  border: 3px solid cyan;
  box-shadow: 0px 0px 15px cyan, 0px 0px 15px cyan inset;
  padding: 35px;
  background-color: #0d161f;
}
.reactpara {
  display: flex;
  justify-content: space-evenly;
}
.reactpara-in {
  width: 500px;
  color: whitesmoke;
}
.react {
  margin-left: 25%;
  color: white;
}
.react-2 {
  color: cyan;
}
.section-4-in {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.reactimg-in {
  animation: rotate 5s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.buttonview {
  display: flex;
  margin-top: 25px;
  gap: 25px;
  height: 40px;
}
.btn-1 {
  display: flex;
  width: 130px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: #08d7aa;
  border-radius: 10px;
  cursor: pointer;
}
.btn-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 40px;
  color: #04a07e;
  border: 2px solid #04a07e;
  border-radius: 10px;
  cursor: pointer;
}
.btn-1:hover {
  background-color: rgb(44, 44, 65);
  color: cyan;
  border: 3px solid cyan;
  transition: 0.5s;
}
.btn-2:hover {
  border: 2px solid rgb(44, 44, 65);
  color: rgb(44, 44, 65);
  transition: 0.5s;
  box-shadow: 0px 0px 2px 2px cyan, 0px 0px 2px 2px cyan inset;
}

@media (max-width: 600px) {
  .content {
    display: flex;
    flex-direction: column-reverse;
  }
  .divs-2-img {
    display: none;
  }
  .namee {
    font-size: 30px;
  }
  .text {
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 10px;

    color: white;
    padding-left: 35px;
    padding-right: 15px;
  }
  .span-dev {
    width: 300px;
  }

  .developer {
    font-size: 35px;
  }
  .main {
    width: 100vw;
  }
  .mainimg {
    margin-top: -25px;
    height: 300px;
    width: 300px;
  }

  .logo {
    margin-bottom: 50px;
    display: none;
  }
  .srg {
    height: 50px;
    width: 70px;
  }
  ul {
    border-bottom: 1px solid darkblue;
    height: 25px;
  }
  header {
    display: flex;
    justify-content: center;

    margin-bottom: 7%;
  }
  a {
    font-size: 12px;
  }
  .section-in {
    background-color: none;
    box-shadow: none;
    padding-bottom: 20px;
    border-radius: 0%;
    width: 100vw;
    height: 80%;
  }
  summary {
    color: black;
    display: none;
  }
  .iconimg {
    display: flex;
    justify-content: center;

    background-color: whitesmoke;
    border-top: 1px solid darkblue;
  }

  .nameee {
    display: none;
  }

  .div-2 {
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }
  .about {
    height: 200px;
    width: 350px;
  }

  .h3-head {
    display: none;
  }
  .Explore-2 {
    font-size: 35px;
  }
  .moreview {
    display: none;
  }

  .divs {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 15px;
  }
  .moreview-2 {
    display: block;
    border: 2px solid cyan;
    box-shadow: 0px 0px 10px rgb(0, 195, 255),
      0px 0px 10px rgb(0, 195, 255) inset;

    height: 20px;
  }
  .firstimg-1,
  .firstimg-2 {
    display: flex;

    gap: 15px;
  }
  .div-1 {
    max-width: 260px;
    height: 250px;
    border: 2px solid cyan;
    box-shadow: 0px 0px 10px rgb(0, 195, 255),
      0px 0px 10px rgb(0, 195, 255) inset;

    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imgic-1 {
    height: 75px;
    width: 75px;
  }
}
