@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    rgb(0, 225, 255),
    rgb(255, 0, 255),
    rgb(22, 6, 249)
  );
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}
.main {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.div-1 {
  background-color: rgba(0, 0, 0, 0.3);
  border: 10px solid;
  border-image: linear-gradient(
      to right,
      rgb(255, 0, 238),
      blue,
      rgb(3, 232, 253),
      rgb(0, 255, 60)
    )
    1;
  box-shadow: 0px 0px 15px rgb(209, 3, 245);
  width: 400px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.input-1,
.input-2,
.input-3 {
  height: 35px;
  width: 300px;
  border-radius: 5px;
  border-style: none;
  text-align: center;
  background-color: transparent;
  border: 3px solid yellow;
  color: yellow;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0px 0px 15px rgb(209, 3, 245);
}

.input-3::placeholder {
  color: yellow;
}
.input-1::placeholder {
  color: yellow;
}

.input-2::placeholder {
  color: yellow;
}
.h2 {
  color: rgb(2, 249, 2);

  text-align: center;
}
.outputdiv {
  border: 3px solid rgb(13, 5, 251);
  background-color: rgb(6, 247, 6);
  font-weight: bold;
  width: 300px;
  border-radius: 5px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  color: white;
  font-weight: bold;
  border-radius: 5px;
  height: 35px;
  width: 300px;

  border-style: none;
  box-shadow: 0px 0px 15px rgb(209, 3, 245);
  background-color: rgb(39, 3, 245);
}
