@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "montserrat", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.back {
  height: 38px;
  width: 50px;
  font-size: 30px;
  background-color: whitesmoke;

  border: 3px solid #00072d;
}

.s1 {
  background-color: #030f50;
}
nav {
  text-align: right;
  padding: 20px;
}
nav a {
  color: white;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
}
nav a:hover {
  background-color: green;
}
p {
  padding-top: 10px;
}
span {
  color: yellow;
}
.s1 {
  border-radius: 25px;
}
.s1 {
  border-radius: 25px;
}
p {
  padding-left: 25px;
}
body {
  background-color: #202216;
  background-image: url("../projectbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
@keyframes change {
  0% {
    background-image: linear-gradient(rgb(3, 3, 83), rgb(31, 24, 36));
  }
  25% {
    background-image: linear-gradient(rgb(77, 4, 76), rgb(3, 3, 83));
  }
  50% {
    background-image: linear-gradient(rgb(24, 23, 26), rgb(3, 3, 83));
  }
  75% {
    background-image: linear-gradient(rgb(58, 6, 117), rgb(51, 6, 54));
  }
  100% {
    background-image: linear-gradient(rgb(21, 6, 77), rgb(3, 3, 83));
  }
}
.check {
  color: rgb(247, 241, 241);
}
.my {
  color: rgb(0, 119, 255);
  -webkit-text-stroke: 1px #0ff;
  text-shadow: 0 0 5px #0fff, 0 0 15px #0fff, 0 0 0px #0fff;
}
.check {
  text-align: center;
  margin-top: 50px;
  font-size: 35px;
  font-family: Aspose, sans-serif;
  font-size: bold;
}
.component {
  color: black;
}
a {
  text-decoration: none;
  color: white;
}
.library {
  color: #0437f2;
}
.level-1 {
  background-color: #dae2fe;
  border-radius: 15px 0px 15px 0px;
  text-align: center;
  max-width: 600px;
  margin: auto;
  padding-bottom: 30px;
  padding-top: 15px;
  border: 3px solid rgb(0, 183, 255);
  box-shadow: 0px 0px 15px rgb(3, 177, 241), 0px 0px 15px rgb(0, 136, 255) inset;
}
.level-1:hover {
  transform: scale(1.1);
}
.level-2 {
  background-color: rgb(208, 234, 243);
  border-radius: 15px 0px 15px 0px;
  text-align: center;
  max-width: 600px;
  margin: auto;
  padding-bottom: 30px;
  padding-top: 15px;
  margin-top: 25px;
  border: 3px solid rgb(0, 183, 255);
  box-shadow: 0px 0px 15px rgb(3, 177, 241), 0px 0px 15px rgb(0, 136, 255) inset;
}
.level-3 {
  background-color: #dae2fe;
  border-radius: 15px 0px 15px 0px;
  text-align: center;
  max-width: 600px;
  margin: auto;
  padding-bottom: 30px;
  padding-top: 15px;
  margin-top: 25px;
  border: 3px solid rgb(0, 183, 255);
  box-shadow: 0px 0px 15px rgb(3, 177, 241), 0px 0px 15px rgb(0, 136, 255) inset;
}
.level-4 {
  background-color: #dae2fe;
  border-radius: 15px 0px 15px 0px;
  text-align: center;
  max-width: 600px;
  margin: auto;
  padding-bottom: 30px;
  padding-top: 15px;
  margin-top: 25px;
  border: 3px solid rgb(0, 183, 255);
  box-shadow: 0px 0px 15px rgb(3, 177, 241), 0px 0px 15px rgb(0, 136, 255) inset;
}
.level-5 {
  background-color: #d4f1f0;
  border-radius: 15px 0px 15px 0px;
  text-align: center;
  max-width: 600px;
  margin: auto;
  padding-bottom: 30px;
  padding-top: 15px;
  margin-top: 25px;
  border: 3px solid rgb(0, 183, 255);
  box-shadow: 0px 0px 15px rgb(3, 177, 241), 0px 0px 15px rgb(0, 136, 255) inset;
}
.simple {
}
button {
  background-color: #030d47;
  color: white;
  width: 350px;
  padding: 8px 0;
}
.live {
  margin-bottom: 3px;
}
button:hover {
  background-color: darkyellow;
}
footer {
  background-color: #00072d;
  margin-top: 50px;
}
h3 {
  color: white;
}
h6 {
  color: rgb(7, 223, 252);
}
.srg {
  color: cyan;
}
.footer-1 {
  color: white;
  font-weight: bold;
}
footer {
  text-align: center;
  background-color: black;
  border-top: 2px solid white;
  padding: 25px;
  font-size: 20px;
}
